{% extends "base.html" %}

{% block title %} About {% endblock %}
{% block header %} About {% endblock %}

{% block content %}

    <h1>Website by Arthur Wang</h1>

    <p class="lead">Created with Python, Django, Heroku, and Twitter Bootstrap</p>
    <h4>
    LinkedIn Profile: <a href="http://www.linkedin.com/in/warthurw">
          <img src="http://www.linkedin.com/img/webpromo/btn_myprofile_160x33.png" width="160" height="33" border="0" alt="View Arthur Wang's profile on LinkedIn">
    </a></h4>

    <h4>
    Source code for this project @<a href="https://github.com/wang-arthur/">GitHub</a>
  </h4>
  
  <h4>
    Email: <a href="mailto:arthur.wang.ny@gmail.com">arthur.wang.ny@gmail.com</a>
  </h4>

{% endblock %}