{% extends "base.html" %}

{% block title %} Account Settings {% endblock %}

{% block content %}

<div class="row">
	<div class="col-1 col-lg-3"></div>
	<div class="col-10 col-lg-6">


{% if request.user.is_authenticated %}
<form method="post">
	{% csrf_token %}
	<fieldset>		
		<legend>Account Settings</legend>
		{% if success %}<div class="alert alert-success"> {{success}} </div> {% endif %}
		{% if error %}<div class="alert alert-danger"> {{error}} </div> {% endif %}
		<div class="form-group">
			<label class="control-label">Change your name<br>Current name: {{user.first_name}} {{user.last_name}}</label>
			<input type="text" class="form-control" id="inputError" name="firstname" placeholder="First Name" value={{firstname}}>
			<input type="text" class="form-control" id="inputError" name="lastname" placeholder="Last Name" value={{lastname}}>
		</div>
		<button type="submit" name = "changename" class="btn btn-default">Change Name</button>
	
		<br><br>

		<div class="form-group">
			<label class="control-label">Change your email address<br>Current email: {{user.email}}</label>
			<input type="text" class="form-control" id="inputError" name="email" placeholder="New Email Address (Leave Blank to Clear)" value={{email}}>
		</div>
		<button type="submit" name = "changeemail" class="btn btn-default">Change Email</button>

		<br><br>
		<div class="form-group">
			<label class="control-label">Change your password:</label>
			<input type="password" class="form-control" id="inputError" name="oldpass" placeholder="Old Password">
			<input type="password" class="form-control" id="inputError" name="newpass" placeholder="New Password">
		</div>
		<button type="submit" name = "changepass" class="btn btn-default">Change Password</button>

		<br><br><br>
  
		<!-- Button trigger modal -->
		<a data-toggle="modal" href="#delete" class="btn btn-danger btn-lg">Delete Account</a>

		<!-- Modal -->
		<div class="modal fade" id="delete">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title">Are you sure?</h4>
					</div>
					<div class="modal-body">
						Please enter your password to permanantly delete your account and all submitted emails.
						<input type="password" class="form-control" name="deletepass" placeholder="Password">

					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						<button type="submit" class="btn btn-danger" name="deleteaccount">Delete Account</button>
					</div>
				</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div><!-- /.modal -->

	</fieldset>
</form>

{% else %}
	<legend>Account Settings </legend>
	<p class="lead"> Please <a href = "/login">log in</a> to manage your account settings. </p>

{% endif %}
</div>
</div>

{% endblock %}